html {
    background-color: #00A6D6;
}

ol {
    border: dashed black;
}

ol:nth-of-type(even) {
    border-color: darkred;
    border-style: solid;
}

ol:first-of-type {
    font-family: Arial, Helvetica, sans-serif;
}

p:first-of-type {
    text-align: center;
    border:solid black;
    border-width: 10px;
}